@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

body {
  margin: 0;
  font-family:'Prompt',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'JackInput';
  src: local('JackInput'), url(./fonts/JackInput.TTF) format('truetype');
}


@font-face {
  font-family: 'ThaiSansNeue';
  src: local('ThaiSansNeue'), url(./fonts/ThaiSansNeue-Regular.ttf) format('truetype');
  font-style: normal;
}



@font-face {
  font-family: 'ThaiSansNeue_ExBold';
  src: local('ThaiSansNeue_Bold'), url(./fonts/ThaiSansNeue-ExtraBold.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
}
